.postFeed{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
   border-bottom: 2px solid var(--secondaryTextColor);
    padding:1rem;
}
.post-head{
    display: flex;;
    align-items: center;
    gap:1rem;
    justify-content:space-between;
}
.post-head .profile-pic{
    display: flex;
    align-items: flex-start;
    gap:10px;
}
.profile-pic .user{
    font-weight: 700;
    color: var(--secondaryTextColor);
}
.profile-pic .user p{
   margin-block-end: 0;
  
}
.profile-pic .user .userName{
    margin-block-start: 0;
    color: gray;
    text-decoration: underline;

}
.profile-pic .user p span{
   color: gray;
   font-weight: 500;
}


.post-head .profile-pic img{
    align-self: center;
    width:3rem;
    border-radius: 50%;;
}

.post-content p{
    text-align: left;
    color:var(--primaryTextColor);
}
.post-image img{
    max-width: 15rem;
    max-height: 20rem;;
    border-radius:20px;;
}
.post-controls{
    display: flex;
    gap:2rem;
    font-size: 2rem;
    cursor: pointer;
    color:var(--secondaryTextColor);
}


.likeCount{
    font-size:20px;

}
.ellipsesIcon{
    color:var(--primaryTextColor)
}
.options ul{
    display: none;
    background-color: #E2E8F0;
    margin-block-start: 0;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    padding-inline-start: 0px;
    padding:10px 1rem;
    border-radius: 10px;
}

.options ul li{
    text-align: left;
    list-style: none;
    font-weight: 500;
    color:var(--primaryBtncolor);
    cursor: pointer;
}
.options ul li:last-child{
    color:red
}
.options  .active{
    display: block;
}
.options :first-child{
    cursor: pointer;
}