.profile-card{
    display: grid;
    grid-template-columns: 0.5fr 1fr ;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    background-color: var(--secondaryBgColor);
    padding:1rem;;
    grid-column-gap: 10px;
    color: var(--primaryTextColor);
}
/* mobile */
.profile-card .empty{
    display: none;
}
.profileBtn{
    position: relative;
    bottom: 120%;
    right:2%;
}


/* mobile */
.profile-pic{
    align-self: center; 
}
.profile-pic img{
    width:10rem;
    border-radius: 50%;
}
.profileBtn button{
    font-size: 16px;
    font-weight: 600;
    width:8rem;
    background-color: white;
    color: var(--primaryBtncolor);
    border:2px solid var(--primaryBtncolor)
}

.profileDetails{

    flex-direction: column;


}
.profileDetails h1{
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--secondaryTextColor);
}
.profileDetails p{
    /* margin-block-end: 0; */
    margin-block-start: 0;
    text-align: left;
}
.profileDetails a{
    color: var(--primaryTextColor);
}
.profileDetails p:first-of-type{
   color: #8CA3B8;
   text-align: center;
}
.followersBtn{
    display: flex;
    justify-content: space-evenly;
}
.followersBtn button{
    margin-top: 2rem;
    border:none;
    background-color: inherit;
    color: var(--primaryTextColor);
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 500;

}


@media screen and (min-width:1404px) {
    .profile-card{
        grid-template-columns:1fr 1fr 2rem 10rem;
    }
    .profile-card .empty{
        display: block;
    }
    .profileBtn{
        position: unset;
        left:0
    }
    
}

