.sidebar{
    margin: 2rem 0rem;
    display: flex;
    justify-content: flex-start;

    /* mobile */
    position:fixed;
    left:0;
    right: 0;
    bottom: -5%  ;
    z-index: 999;
    background: var(--secondaryBgColor);
    /* mobile */

}
.navList{
    display: flex;
    /* mobile */
    flex-direction: row;
    justify-content: space-between;
    padding-inline-start: 0px;
    width: 100%;

    /* mobile */
}
.navList a{
    text-decoration: none;
}
.navList li{
   
    text-decoration: none;
    list-style:none;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    padding:10px;
    color: var(--secondaryTextColor);
}
.navList li span{
    margin-left: 2rem;
    display: none;
}



.navList a :hover{
    background-color: #fb7185;
    border-radius: 20px;;
}




@media screen and (min-width:678px) {
    .sidebar{
        justify-content: center;
        position: unset;
        background-color: var(--primaryBgColor);
    }
    .navList{
        flex-direction: column;
        width: max-content;
        gap:2rem;
    }
 
}


@media screen and (min-width:1080px) {
    .sidebar{
        justify-content: center;
    }
    .navList li span{
        /* margin-left: 3rem; */
        display: initial;
      
    }
}