.home-screen{
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--primaryBgColor);
    padding-bottom: 5rem;;
}
.sideNavigation{
}
.posts{
    overflow: auto;
    scroll-behavior:smooth;
}
.posts h1{
    color: var(--primaryTextColor);
}
.posts::-webkit-scrollbar {
    width: 3px; 
  /* Adjust the width as needed */
  }
  
  ::-webkit-scrollbar-track {
    background-color:white /* Background color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #205E61;
    border-radius: 40px; /* Color of the scrollbar thumb */
  }
.users{
   
    
    padding-top:2rem;

    display: flex;
    flex-direction: column;
    gap:3rem;

    /* mobile */
    height: unset;
    gap:1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* mobile */
}
.search-bar{
    border-radius: 30px;
    width:80%;
    font-weight: 600;
    font-size: 1rem;
    outline: none; 
    border:2px solid var(--primaryBorderColor);
    padding:12px;;

    /* mobile */
    width:100%;
    border-radius: 0px;
    background-color: inherit;
    color: var(--primaryTextColor);
    border: none;
    box-shadow: 0px 5px 5px 0px var(--secondaryBgColor)
    /* mobile */
}

.search-bar:focus{
    outline: none; 
    border:2px solid var(--secondaryBgColor);
}

.searchResult{
    color:var(--primaryTextColor);
    background-color: var(--secondaryBgColor);
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    /* mobile */
    width: 90%;
    /* mobile */
    position:absolute;
    overflow-y: auto;
}

.user-suggetion{
    background-color: var(--secondaryBgColor);
    color:var(--primaryTextColor);
    align-self: stretch;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    overflow-x: hidden;
    padding:1rem;
    display: none;
}
#mobile-users{
    display: flex;
    overflow-x: scroll;
    gap:1rem;
}
::-webkit-scrollbar{
    width:-1px;
}
.user-details{
    display: flex;

    /* mobile */
    flex-direction: column;
    gap:2rem;
    border: 2px solid var(--primaryBorderColor);
    /* mobile */
    align-items: center;
    justify-content: space-between;
    padding:1rem;
}


.user-details img{
    width:3rem;
    border-radius: 50%;
}
.user-details .followBtn{
    width:5rem;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
}
.user-details .user{
    display: flex;
    /* mobile */
    /* mobile */
    align-items: center;
    gap:1rem;
}
.userName :first-child{
    font-weight: 700;
    font-size: 0.75rem;
    margin-block-end: 0;
    margin-block-start: 0;

}
.userName :last-child{
    font-weight: 500;
    margin-block-end: 0;
    margin-block-start: 0;
    color:#94a3b8;

}
.user-suggetion h1{
    font-size: 1.75rem;
    text-align: left;
    color: var(--secondaryTextColor);

}
.setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondaryBgColor);
    padding: 0.5rem;
    color: var(--secondaryTextColor);
    font-weight: 800;
    cursor: pointer;
    font-size: larger;
}
.setting p{
    margin-block-start: 0;
    margin-block-end: 0;
}
.setting-options{
    display: none;
    padding: 1rem;
    width:5rem;
    position: relative;
    background-color: var(--secondaryBgColor);
    color: var(--primaryTextColor);
    left:44%;
    top:0
}
.active{
    display: inline-block;
}
.setting-options button{
    background-color: inherit;
    border: none;
    margin-bottom: 10px;
    color: black;
    font-weight: 700;
    cursor: pointer;
}
.setting-options button:hover{
    background-color: black;
    color: white;
}
.postLink a{
    text-decoration: none;
    color:black;
}

.comments{
  
    display: flex;
    flex-direction: column;
 

}
.comments h1{
    margin-block-end: 0;
    margin-block-start: 0;
    color: var(--secondaryTextColor);
   
}
.commentBox{
    text-align: left;
    display: flex;
    align-items: flex-start;
    border-bottom: 2px solid var(--primaryBorderColor);
    gap:1rem;
    padding: 1rem;;

}
.commentBox img{
    width:3rem;
    align-self: flex-start;
    border-radius:50%;
}
.commentBox-body{
    align-self: flex-start;
}
.commentBox-body h1{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: medium;
    font-weight: 800;
    color:var(--secondaryTextColor)
}
.commentBox-body h1 span{
    color: #94a3b8;
    font-weight: 600;

}
.commentBox-body p{
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 500;
    color: var(--primaryTextColor);
}
.head{
    display: flex;
    align-items: center;
    gap:2rem;
    font-size: 30px;
    padding-left: 1rem;
    border-bottom: 2px solid var(--primaryBorderColor);
    color: var(--secondaryTextColor);
}
.arrowIcon{
    color: var(--secondaryTextColor);
}

.head p {
    margin-block-end: 0;
    margin-block-start: 0;
    font-size: 20px;
    text-align: left;
}
.head p:last-of-type{
    color: #94a3b8;
}


/* //tablet Design */



/* Desktop Design */



@media screen and (min-width:678px) {
    .home-screen{
        display: grid;
        grid-template-columns:  0px 10% 50% 40% 0px ;
    }   
    .sideNavigation{
        height: 100vh;
        border-right: 2px solid var(--primaryBorderColor);
    }
    .user-suggetion{
        display: unset;
        padding-bottom: 5rem;
    }
    .posts{
        height: 94vh;

    }
    #mobile-users{
        display: block;
    }
    .users{
        height: 100vh;
        gap:3rem;
        padding-top: 2rem;
        border-left:2px solid var(--primaryBorderColor);
        padding-left: 2rem;;
        padding-right: 2rem;;
    }
    .user-details{
        flex-direction: column;
        gap:0px;
        gap:2rem;
        height:unset;
        border:none;
        border-bottom: 2px dotted var(--primaryBorderColor);
    }
    .user-details img{
        width:3rem;
    border-radius: 50%;
    }
    .user-details .user{
        flex-direction: row;
    }
     
    .searchResult{
        width: auto;
    }
}
@media screen and (min-width:900px) {
    .user-details{
        flex-direction: row;
    }
    
}


@media screen and (min-width:1080px) {
    .home-screen{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 2fr 1fr 0.5fr ;
    }    
    .sideNavigation{
        height: 100vh;
        border-right: 2px solid var(--primaryBorderColor);
    }
    .posts{
        height: 94vh;

    }
}
