:root{
    --primaryBgCOlor:white;
    --primaryTextColor:black;
    --secondaryBgColor:white;
    --navbarBgColor:white;
    --secondaryTextColor:#4a044e;
    --primaryBtncolor:#4a044e;
    --primaryBorderColor:#4a044e;
}